@import url(./../node_modules/spin.js/spin.css);
body {
  background-color: white;
  color: darkblue;
  font-family: arial, verdana, sans-serif;
  font-size: 16px;
  padding: 10px; }

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 15px; }

.loading-overlay {
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: show;
  margin: auto;
  background-color: black;
  display: block; }

.header {
  grid-column: span 1;
  font-size: 48px;
  color: blue; }
  .header--title {
    font-family: "Arvo", sans-serif;
    font-weight: bold; }
  .header--subtitle {
    font-size: 24px;
    color: black;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 8px; }

.info {
  padding: 10px;
  border: solid;
  width: 90%;
  max-width: 1500px;
  border-radius: 10px;
  box-shadow: 5px 5px;
  background-color: #a7c7d1; }
  .info__cities {
    padding-right: 20px;
    padding-bottom: 20px; }
    .info__cities__menu {
      font-family: arial, verdana, sans-serif;
      font-size: 20px;
      box-shadow: 5px 5px #2f2fd4;
      display: inline-block;
      vertical-align: middle;
      padding: 7px 2px 5px 10px;
      height: 60px;
      border-radius: 10px;
      background: transparent; }
      .info__cities__menu:focus {
        outline: 0; }
      .info__cities__menu option {
        color: #000000;
        background-color: lightgray;
        font-size: 16px; }
    .info__cities #cities {
      background-color: #2f2fd4;
      color: white;
      width: 400px; }
  .info__icon {
    color: blue;
    font-size: 96px; }
  .info__conditions {
    color: black;
    font-size: 64px; }
  .info__city {
    color: darkblue;
    font-size: 40px;
    font-weight: bold; }

.weather {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 29.6px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px; }
  .weather__sun {
    width: 260px;
    color: black;
    box-shadow: 5px 5px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    background-color: gray; }
    .weather__sun__rise {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
    .weather__sun__set {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
  .weather__temp {
    width: 260px;
    color: black;
    box-shadow: 5px 5px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    background-color: gray; }
    .weather__temp__current {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
    .weather__temp__low {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
    .weather__temp__high {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
  .weather__humidity {
    width: 260px;
    color: black;
    box-shadow: 5px 5px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    background-color: gray; }
    .weather__humidity__value {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
  .weather__pressure {
    width: 260px;
    color: black;
    box-shadow: 5px 5px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    background-color: gray; }
    .weather__pressure__value {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
  .weather__wind {
    width: 260px;
    color: black;
    box-shadow: 5px 5px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    background-color: gray; }
    .weather__wind__direction {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
    .weather__wind__strength {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }
    .weather__wind__speed {
      color: darkblue;
      font-size: 24px;
      padding-top: 10px; }

.credits {
  font-size: 24px;
  font-weight: bold; }

@media screen and (max-width: 550px) {
  .weather {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; }
  .info__cities__menu {
    font-size: 3.25vw; }
  .info__cities option {
    font-size: 4vw; }
  .info #cities {
    width: 70vw; }
  .info__icon {
    font-size: 64px; }
  .info__conditions {
    font-size: 8vw; }
  .info__city {
    font-size: 7.5vw; }
  .header {
    font-size: 32px; }
    .header--subtitle {
      font-size: 16px; }
  .credits {
    font-size: 3.5vw; } }
