.weather {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: $base-font-size * 1.85;
    // display: none;
    @include display-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 1500px;

    &__sun {
        width: 260px;
        color: black;
        // padding-top: 20px;
        // padding-right: 20px;
        box-shadow: 5px 5px;
        padding: 10px;
        border: solid;
        border-radius: 10px;
        background-color: gray;

        &__rise {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }
        
        &__set {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }
    }

    &__temp {
        width: 260px;
        color: black;
        // padding-top: 20px;
        // padding-right: 20px;
        box-shadow: 5px 5px;
        padding: 10px;
        border: solid;
        border-radius: 10px;
        background-color: gray;
            
        &__current {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }
            
        &__low {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }
            
        &__high {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }
    }

    &__humidity {
        width: 260px;
        color: black;
        // padding-top: 20px;
        // padding-right: 20px;
        box-shadow: 5px 5px;
        padding: 10px;
        border: solid;
        border-radius: 10px;
        background-color: gray;
                
        &__value {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }
    }

    &__pressure {
        width: 260px;
        color: black;
        // padding-top: 20px;
        // padding-right: 20px;
        box-shadow: 5px 5px;
        padding: 10px;
        border: solid;
        border-radius: 10px;
        background-color: gray;

        &__value {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }
    }

    &__wind {
        width: 260px;
        color: black;
        // padding-top: 20px;
        // padding-right: 20px;
        box-shadow: 5px 5px;
        padding: 10px;
        border: solid;
        border-radius: 10px;
        background-color: gray;

        &__direction {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }

        &__strength {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }

        &__speed {
            color: $font-color;
            font-size: $base-font-size * 1.5;
            padding-top: 10px;
        }
    }
}

.credits {
    font-size: $base-font-size * 1.5;
    font-weight: bold;
}

@media #{$phone} {

    .weather {
        @include display-flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .info {
     
        &__cities {
        
            &__menu {
            font-size: 3.25vw;
            }

            & option {
              font-size: 4vw;
            }
        }
        
        #cities {
            width: 70vw;
        }
        
      
        &__icon {
          font-size: $base-font-size * 4;
        }
      
        &__conditions {
          font-size: 8vw;
        }
      
        &__city {
          font-size: 7.5vw;
        }
    }


    .header {
        font-size:$base-font-size * 2; 
      
        &--subtitle {
          font-size:$base-font-size;
        }
    }

    .credits {
        font-size: 3.5vw;
    }
}