.header {
  
  grid-column: span 2;

  font-size:$base-font-size * 4; 
  color: mix($background-color, $font-color);
 
  &--title {
    font-family: "Arvo", sans-serif;
    font-weight: bold;
  }

  &--subtitle {
    font-size:$base-font-size;
    letter-spacing:2px;
    padding-bottom:8px;
  }
}