.info {
     
  &__cities {
    padding-right:20px;
    padding-bottom:20px;
    // background-color: blue;
  
    &__menu {
      font-family:$font-faces;
      font-size:$base-font-size * 1.25;
      // border:4px solid black;
      box-shadow: 5px 5px rgb(47, 47, 212);
      display:inline-block;
      vertical-align:middle;
      padding:7px 2px 5px 10px;
      height:70px;
      border-radius: 10px;
      background:transparent;
      &:focus {
        outline:0;
      }
      & option {
        color: #000000;
        background-color: lightgray;
        font-size: $base-font-size;
      }
    }
  
    #cities {
      background-color: rgb(47, 47, 212);
      color: white;
      width: 400px;
    }
  }

  &__icon {
    color: blue;
    font-size: $base-font-size * 6;
  }

  &__conditions {
    color: blue;
    font-size: $base-font-size * 4;
  }

  &__city {
    color: black;
    font-size: $base-font-size * 2.5;
    font-weight: bold;
  }
}

