.info {
   
  &__cities {
    padding-right:20px;
    padding-bottom:20px;
    // background-color: blue;
  
    &__menu {
      font-family:$font-faces;
      font-size:$base-font-size;
      // background-color: lightblue;
      color: black;
      border:2px solid blue;
      display:inline-block;
      vertical-align:middle;
      padding:7px 2px 5px 10px;
      height:60px;
      width:200px;
      border-radius: 5px;
      background:transparent;
      &:focus {
        outline:0;
      }
      & option {
        color: #000000;
      }
    }
  
    #cities {
      background-color: blue;
      color: white;
      width: 350px;
    }
  }

  &__icon {
    font-size: $base-font-size * 6;
  }

  &__conditions {
    font-size: $base-font-size * 4;
  }

  &__city {
    font-size: $base-font-size * 2;
  }
}

