.info {
  padding: 10px;
  border: solid;
  width: 90%;
  max-width: 1500px;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(41, 41, 114);
  background-color: rgb(167, 199, 209);
     
  &__cities {
    padding-right:20px;
    padding-bottom:20px;
  
    &__menu {
      font-family:$font-faces;
      font-size:$base-font-size * 1.25;
      box-shadow: 5px 5px rgb(20, 20, 77);
      display:inline-block;
      vertical-align:middle;
      padding:7px 2px 5px 10px;
      height:60px;
      border-radius: 10px;
      background:transparent;
      &:focus {
        outline:0;
      }
      & option {
        color: #000000;
        background-color: lightgray;
        font-size: $base-font-size;
      }
    }
  
    #cities {
      background-color: rgb(41, 41, 114);
      color: white;
      width: 400px;
    }
  }

  &__icon {
    color: blue;
    font-size: $base-font-size * 6;
  }

  &__conditions {
    color: black;
    font-size: $base-font-size * 4;
  }

  &__city {
    color: rgb(41, 41, 114);
    font-size: $base-font-size * 2.5;
    font-weight: bold;
  }
}

